@import '~antd/dist/antd.css';


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainWrapper {
    flex: 1;
    padding: 30px 100px;
    background: url("/src/images/home_cover.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.2);
}
